services:
  next_production:
    container_name: next_production
    image: luuppi.azurecr.io/next-prod:latest
    restart: unless-stopped
    env_file: .env
    environment:
      - REDIS_HOST=redis_next_production
    ports:
      - '127.0.0.1:3000:3000'
    depends_on:
      - redis_next_production
    volumes:
      - next-cache:/app/.next/cache:rw
    networks:
      - weba-network

  redis_next_production:
    container_name: redis_next_production
    image: redis/redis-stack-server:latest
    restart: unless-stopped
    ports:
      - '127.0.0.1:6379:6379'
    networks:
      - weba-network

  pg_next_production:
    container_name: pg_next_production
    platform: linux/amd64 #for platform error on Apple M1 chips
    restart: unless-stopped
    image: postgres:16.0-alpine
    env_file: .env
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    ports:
      - '127.0.0.1:5433:5432'
    networks:
      - weba-network

volumes:
  postgres-data:
  next-cache:

#
# External network handled by luuppi-proxy
# https://github.com/luuppiry/luuppi-proxy
#
networks:
  weba-network:
    external: true
