services:
  prisma:
    image: node:24.13-alpine3.22
    env_file: .env
    working_dir: /app
    environment:
      - DATABASE_URL=${DATABASE_URL}
    volumes:
      - .:/app
    networks:
      - weba-network
    command: sh -c "corepack enable && pnpm install --frozen-lockfile && pnpm exec prisma generate && pnpm exec prisma migrate deploy"

#
# External network handled by luuppi-proxy
# https://github.com/luuppiry/luuppi-proxy
#
networks:
  weba-network:
    external: true
