@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  @apply transform transition-transform active:scale-95;
}

@layer base {
  html {
    @apply h-full text-text-950;
  }

  body {
    @apply flex h-full flex-col;
  }
}
