@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply h-full text-text-950;
  }

  body {
    @apply flex h-full flex-col;
  }

  a {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-5xl font-extrabold max-md:text-4xl;
  }
}

.card {
  @apply rounded-lg bg-background-50/50 backdrop-blur-sm;
}

@media screen and (max-width: 768px) {
  .card {
    @apply p-4;
  }
}

.btn-primary {
  @apply text-white;
}

.badge-primary {
  @apply text-white;
}

.skeleton {
  @apply rounded-lg;
}

@layer components {
  @keyframes slideRight {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -200px -200px;
    }
  }

  .luuppi-hero-cards {
    @apply rounded-2xl transition-transform delay-[0s] duration-[1s] ease-[ease] hover:rotate-0 hover:scale-[1.3];
    transform: rotateY(0) scale(1.25) rotate(-2deg);
    filter: drop-shadow(7px 7px #7e84c050);
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  @media screen and (max-width: 1280px) {
    .luuppi-hero-cards {
      transform: rotateY(0) scale(1.5) rotate(-2deg);
    }
    .luuppi-hero-cards:hover {
      @apply rotate-0 scale-[1.6];
    }
  }

  @media screen and (max-width: 992px) {
    .luuppi-hero-cards {
      transform: rotateY(0) scale(1.4) rotate(-2deg);
    }
    .luuppi-hero-cards:hover {
      @apply rotate-0 scale-[1.5];
    }
  }

  .luuppi-hero-container {
    @apply -rotate-2 rounded-[10px];
    background: #efeff6;
  }

  .luuppi-pattern {
    @apply bg-[linear-gradient(#d6d6d650_1px,transparent_1px),linear-gradient(to_right,#d6d6d650_1px,#fff_1px)] opacity-80;
    background-size: 20px 20px;
    border-radius: 50%;
    box-shadow: 0 0 50px 50px #fff inset;
  }

  .luuppi-kolmio-pattern {
    @apply bg-[url('/kolmiot.svg')] opacity-[0.03];
    filter: grayscale();
    background-position: 0 0;
    background-size: 200px 200px;
    animation: slideRight 10s linear infinite;
  }

  .luuppi-events-preview-pattern {
    @apply scale-[1.75] bg-[url('/partners_pattern.svg')] bg-cover bg-center bg-no-repeat;
    filter: grayscale(100%) brightness(1000%) opacity(3%);
  }

  .luuppi-patners-pattern {
    @apply bg-[url('/partners_pattern.svg')] bg-cover bg-center bg-no-repeat opacity-[0.05] grayscale;
  }

  @media screen and (max-width: 1280px) {
    .luuppi-patners-pattern {
      @apply scale-[1.5];
    }
  }

  @media screen and (max-width: 768px) {
    .luuppi-patners-pattern {
      @apply scale-[3];
    }

    .luuppi-events-preview-pattern {
      @apply scale-[1];
    }
  }

  .luuppi-questions-bg {
    @apply bg-[url('/blob.svg')] bg-cover bg-bottom bg-no-repeat;
  }

  @keyframes slide {
    from {
      @apply bg-[0_0];
    }
    to {
      @apply bg-[-512px_-512px];
    }
  }
}
