@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply h-full text-text-950;
  }

  body {
    @apply flex h-full flex-col;
  }

  a {
    @apply cursor-pointer;
  }

  h1 {
    @apply text-5xl font-extrabold max-md:text-4xl;
  }
}

@layer components {
  .luuppi-hero-cards {
    @apply rounded-2xl transition-transform delay-[0s] duration-[1s] ease-[ease] hover:rotate-0 hover:scale-[1.3];
    transform: rotateY(0) scale(1.25) rotate(-2deg);
    filter: drop-shadow(7px 7px #7e84c050);
  }

  @media screen and (max-width: 1280px) {
    .luuppi-hero-cards {
      transform: rotateY(0) scale(1.5) rotate(-2deg);
    }
    .luuppi-hero-cards:hover {
      @apply rotate-0 scale-[1.6];
    }
  }

  .luuppi-hero-container {
    @apply -rotate-2 rounded-[10px];
    background: #efeff6;
  }

  .luuppi-pattern {
    @apply bg-[linear-gradient(#d6d6d650_1px,transparent_1px),linear-gradient(to_right,#d6d6d650_1px,#fff_1px)] opacity-80;
    background-size: 20px 20px;
  }

  .luuppi-kolmio-pattern {
    @apply animate-[slide_30s_linear_infinite] bg-[url('/kolmiot.svg')] opacity-[0.03];
    filter: grayscale();
    background-position: 0 0;
    background-size: 200px 200px;
  }

  .luuppi-custom-scroll::-webkit-scrollbar {
    @apply w-2;
  }

  .luuppi-custom-scroll::-webkit-scrollbar-track {
    @apply rounded-md;
    background: #f1f1f1;
  }

  .luuppi-custom-scroll::-webkit-scrollbar-thumb {
    @apply rounded-md;
    background: #d1d1d1;
  }

  @keyframes slide {
    from {
      @apply bg-[0_0];
    }
    to {
      @apply bg-[-512px_-512px];
    }
  }
}
