name: Build and Deploy

on:
    push:
        branches: ['deploy-test']

jobs:
    strapi:
        name: Build and Deploy Strapi
        timeout-minutes: 15
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: yarn install
              working-directory: ./strapi

            - name: Build Strapi
              run: yarn build
              working-directory: ./strapi

            - name: Deploy Strapi
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.KEY }}
                  port: ${{ secrets.PORT }}
                  script: |
                      cd luuppi-next
                      git pull
                      cd strapi
                      docker build -t strapi .
                      docker compose down
                      docker compose up -d

    next:
        name: Build and Deploy Next.js
        timeout-minutes: 15
        runs-on: ubuntu-latest
        needs: ['strapi']
        steps:
            - uses: actions/checkout@v3
            - uses: pnpm/action-setup@v2
              with:
                  version: 8

            - name: Setup Node.js environment
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm install
              working-directory: ./next

            - name: Add Next.js environment variables
              run: echo "NEXT_PUBLIC_STRAPI_URL=https://${{ secrets.CMS_HOST }}" >> .env.local
              working-directory: ./next

            - name: Build Next.js
              run: pnpm run build
              working-directory: ./next

            - name: Deploy Next.js
              uses: appleboy/ssh-action@master
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  key: ${{ secrets.KEY }}
                  port: ${{ secrets.PORT }}
                  script: |
                      cd luuppi-next
                      git pull
                      cd next
                      docker stop next
                      docker rm next
                      docker build -t next:latest .
                      docker run -d --name next -p 3000:3000 next:latest
